
.logo-color{
	color:#26a69a ;
}
.logo-name{
	font-size:30px; 
	color:#26a69a;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
}

.navbar-custom {
	background-color: #212121;
	font-family:"FontAwesome";
	font-size: 20px;
}
.imag-param{color:#26a69a;}
.ls-color{
	color:#26a69a;
	width:auto;
}

footer#footer {
border-top: none;
background: black;
}
.text-div{
    font-family: "FontAwesome";
    font-size: 15px;
}
.text-title{
	font-family: "FontAwesome";
	font-weight: 900;
	font-size: 25px;
}
.text-comment{
	font-style: italic;
	font-family: "FontAwesome";
	font-weight: 900;
	font-size: 20px;
}
.text-department{
	font-family: "FontAwesome";
	font-weight: 900;
	font-size: 40px;
}
.comment{
	font-family: "FontAwesome";
    font-size: 20px;
}
.box-text{
	font-family: "FontAwesome";
    font-size: 20px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

.myimag{
	width: 100%;
	height: 600px;
}
.home_container{
	padding-top: 50px;
}
.slider-pad{
	padding-top: 50px;
}
