
<div id="wrapper">
    <section class="py-5 ">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav py-5 menu_text">

                <li>
                    <a href="@Url.Action("ViewPage", "User")">Company's Truck</a><hr>
                </li>
                <li>
                    <a href="@Url.Action("MyTruck", "User")">My Trucks</a><hr>
                </li>
                <li>
                    <a href="@Url.Action("MainPage", "User")">Post a Truck</a> <hr>
                </li>

            </ul>

        </div>
    </section>
</div>